<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidong.mapper.ItemTrackMapper" >

  <insert id="insert" parameterType="com.yidong.model.ItemTrack" >
    insert into yd_item_track (id, name, department,
    telephone, email, research,
    team, team_leader, b_expert,
    s_expert, advice, user_id,
    title, apply_field, old_apply,
    apply_year, join_year, major_content,
    sci_first_count, sci_second_count, ei_count,
    invent_count, invent_accredit_count, utility_count,
    utility_accredit_count, situation, team_basic
    )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},
    #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{research,jdbcType=VARCHAR},
    #{team,jdbcType=VARCHAR}, #{teamLeader,jdbcType=VARCHAR}, #{bExpert,jdbcType=VARCHAR},
    #{sExpert,jdbcType=VARCHAR}, #{advice,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
    #{title,jdbcType=VARCHAR}, #{applyField,jdbcType=VARCHAR}, #{oldApply,jdbcType=VARCHAR},
    #{applyYear,jdbcType=VARCHAR}, #{joinYear,jdbcType=VARCHAR}, #{majorContent,jdbcType=VARCHAR},
    #{sciFirstCount,jdbcType=VARCHAR}, #{sciSecondCount,jdbcType=VARCHAR}, #{eiCount,jdbcType=VARCHAR},
    #{inventCount,jdbcType=VARCHAR}, #{inventAccreditCount,jdbcType=VARCHAR}, #{utilityCount,jdbcType=VARCHAR},
    #{utilityAccreditCount,jdbcType=VARCHAR}, #{situation,jdbcType=VARCHAR}, #{teamBasic,jdbcType=VARCHAR}
    )
  </insert>
  <select id="selectByUserId" resultType="com.yidong.model.ItemTrack">
    SELECT * FROM yd_item_track
    where user_id=#{user_id}
  </select>

  <select id="selectByApplyField" parameterType="map" resultType="int">
    select count(*) from yd_item_track
    where apply_field = #{apply_field} and apply_year=#{apply_year}
  </select>


  <select id="selectById" resultType="com.yidong.model.ItemTrack" >
    select * from yd_item_track where id=#{id}
  </select>

  <update id="updateById" parameterType="com.yidong.model.ItemTrack">
    update yd_item_track set name=#{name},department=#{department},email=#{email},research=#{research},team=#{team},team_leader=#{team_leader},b_expert=#{b_expert},s_expert=#{s_expert},advice=#{advice},title=#{title},apply_field=#{apply_field},old_apply=#{old_apply},apply_year=#{apply_year},join_year=#{join_year},major_content=#{major_content},sci_first_count=#{sci_first_count},sci_second_count=#{sci_second_count},ei_count=#{ei_count},invent_count=#{invent_count},invent_accredit_count=#{invent_accredit_count},utility_count=#{utility_count},utility_accredit_count=#{utility_accredit_count},situation=#{situation},team_basic=#{team_basic},telephone=#{telephone} where id=#{id}
  </update>

</mapper>